/* Style */
* {
    use-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.panel, .canvas {
    box-sizing: border-box;
}

.canvas:hover {
    cursor: url('../img/pen.png'), auto;
}

.button-edit {
    width: 90%;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;

    border: 0;
    border-radius: 3px;

    background-color: #548;
    font-size: 22px;
    font-family: '微軟正黑體';
    color: white;
}

.button-edit.button-fill-shift {
    width: 140px;
    height: 44px;

    margin: 0;
    border-radius: 0;
}

.button-edit:hover {
    background-color: #528;
}

.button-edit:active {
    background-color: #315;
}

.button-edit:nth-child(4) {
    border-bottom-right-radius: 10px;
}

.canvas-frame {
    width: 1350px;
    height: 900px;
    border-width: 5px;
    border-style: solid;
    border-color: gray;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
}

.panel-draw {
    width: 1150px;
    height: 900px;
}

.panel-edit {
    width: 200px;
    height: 900px;
}

.panel-component {
    width: 1150px;
    height: 200px;

    display: flex;
}

.panel-paint {
    width: 1150px;
    height: 700px;

    border-right-width: 5px;
    border-right-style: solid;
    border-right-color: gray;

    display: flex;
}

.panel-layer {
    width: 200px;
    height: 660px;

    margin-top: 0;
    margin-bottom: 0;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: gray;
    padding-left: 0;

    overflow: hidden;
    overflow-y: scroll;
    list-style-type: none;
}

.panel-layer>li {
    width: 200px;
    height: 50px;

    padding-left: 10px;

    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: gray;
    line-height: 50px;

    font-family: '微軟正黑體';
}

.panel-layer>li.active {
    background-color: #315;
    color: white;
}

.panel-layer>li:hover {
    background-color: #528;
    color: white;
}

.panel-button {
    width: 200px;
    height: 190px;

    padding-top: 5px;
}

.panel-pen {
    width: 850px;
    height: 200px;
}

.panel-function {
    width: 146px;
    height: 700px;

    border-right-width: 5px;
    border-right-style: solid;
    border-right-color: gray;
}

.panel-canvas {
    position: relative;

    width: 1004px;
    height: 700px;
}

.panel-illustration {
    width: 300px;
    height: 200px;

    border-right-width: 5px;
    border-right-style: solid;
    border-right-color: gray;

    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: gray;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.panel-line, .panel-color {
    width: 850px;
    height: 100px;

    border-right-width: 5px;
    border-right-style: solid;
    border-right-color: gray;

    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: gray;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.panel-mode {
    width: 146px;
    height: 216px;

    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: gray;

    display: flex;
    flex-wrap: wrap;
}

.panel-filled {
    width: 146px;
    height: 49px;
}

.panel-shape {
    width: 146px;
    height: 435px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.label-layer {
    box-sizing: border-box;

    width: 200px;
    height: 50px;

    margin-top: 0;
    margin-bottom: 0;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: gray;
    border-top-right-radius: 15px;

    text-align: center;
    line-height: 45px;

    background-color: #548;
    color: white;
    font-size: 24px;
    font-family: '微軟正黑體';
}

.canvas {
    position: absolute;

    border-width: 5px;
    border-style: solid;
    border-color: #548;
    border-radius: 10px;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

img.component {
    box-sizing: border-box;

    border-width: 5px;
    border-style: solid;
    border-color: white;
    border-radius: 15px;

    background-size: cover;
}

img.component:hover {
    border-color: #548 !important;
}

div.component {
    position: relative;

    box-sizing: border-box;

    border-width: 5px;
    border-style: solid;
    border-color: black;
    border-radius: 3px; 
}

div.component:hover {
    border-color: #548 !important;
}

div.component>div {
    position: absolute;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}