<div style="box-sizing: border-box; padding: 20px; width: 800px; background-color: rgb(0, 0, 0);" id="article">
	<h1 style="box-sizing: border-box; padding: 10px; margin: 0px; font-size: 40px; color: rgb(255, 255, 255);" id="title">標題</h1>
    <div style="display: flex;">
        <img style="margin: 10px; width: 280px; height: 280px; box-sizing: border-box;" id="image" alt="圖片" src="#">
   	    <div style="box-sizing: border-box; padding: 10px; width: 500px; color: rgb(101, 255, 250); background-color: rgb(118, 118, 118);" id="text">內容</div>
    </div>
    <a style="box-sizing: border-box; padding: 10px; display: block; border: 1px solid gray; color: rgb(98, 255, 244);" id="link" href="#">超連結</a>
</div>

