/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 3.5rem;
}

/*
 * Typography
 */

h1 {
    margin-bottom: 20px;
    padding-bottom: 9px;
    border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
    padding-left: 0;
    padding-right: 0;
}

.sidebar .nav {
    margin-bottom: 20px;
}

.sidebar .nav-item {
    width: 100%;
}

.sidebar .nav-item + .nav-item {
    margin-left: 0;
}

.sidebar .nav-link {
    border-radius: 0;
}

/*
 * Dashboard
 */

/* Placeholders */
.placeholders {
    padding-bottom: 3rem;
}

.placeholder img {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

#main svg {
    width: 100%;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.list-group-item:hover {
    cursor: pointer;
    background-color: #eee;
}

/* SVG */
#Layer_places circle {
    cursor: pointer;

    fill: white;
    stroke: gray;
    stroke-width: 3px;
}

#Layer_schedules line {
    stroke: red;
    stroke-width: 7px;
}

#Layer_schedules line.type-BUS {
    stroke-dasharray: 7;
}

#scheduleArrow {
    fill: red;
}

.schedule-information .schedule-left-border::before,
.schedule-information:last-child .schedule-left-border::after {
    content: '';
    position: absolute;
    top: 0px;
    left: -10px;
    width: 16px;
    height: 16px;
    border-width: 3px;
    border-style: solid;
    border-color: gray;
    border-radius: 50%;
    background: white;
}

.schedule-information:last-child .schedule-left-border::after {
    top: auto;
    bottom: -15px;
}

.schedule-information .schedule-left-border {
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: red;
}

.schedule-information .type-BUS {
    border-left-style: dotted;
}

.schedule-information > div {
    min-height: 150px;
}

.schedule-information .row > div {
    position: relative;
}

.schedule-information .last-item {
    position: absolute;
    bottom: -15px;
}
