<div style="box-sizing: border-box;
            padding: 20px;
            width: 800px;
            background-color: white" id="article">
	<h1 style="box-sizing: border-box;
               padding: 10px;
               margin: 0;
               font-size: 40px;" id="title">標題</h1>
    <div style="display: flex;">
    	<div style="box-sizing: border-box;
                    padding: 10px;
                    width: 500px;
                    color: gray;" id="text">內容</div>
        <img style="box-sizing: border-box;
                    margin: 10px;
                    width: 280px;
                    height: 280px;
                    box-sizing: border-box;" id="image" alt="圖片" src="#">
    </div>
    <a style="box-sizing: border-box;
              padding: 10px;
              display: block;" id="link" href="#">超連結</a>
</div>

